<div class="location-wrapper">
    <div class="location-list-heading">
        <h1>{{title}}</h1>
        <p>Crawl through Brockley's best independent Cafes</p>
    </div>
    <div class="location-list-sidebar-wrapper">
        <div class="location-list-wrapper">
            <div class="location-list-item">
                <h3 class="location-name">{{name}}</h3>
                <p class="location-address">{{address}}</p>
                <p class="location-facilities">{{facilities}}</p>
                <p class="location-stop">No.{{stop}}</p>
                <span>Hot Drinks</span><span>Brunch</span><span>Cakes</span>
            </div>
            <div class="location-list-item">
                <h3 class="location-name">{{name}}</h3>
                <p class="location-address">{{address}}</p>
                <p class="location-facilities">{{facilities}}</p>
                <p class="location-stop">No.{{stop}}</p>
                <span>Hot Drinks</span><span>Brunch</span><span>Cakes</span>
            </div>
            <div class="location-list-item">
                <h3 class="location-name">{{name}}</h3>
                <p class="location-address">{{address}}</p>
                <p class="location-facilities">{{facilities}}</p>
                <p class="location-stop">No.{{stop}}</p>
                <span>Hot Drinks</span><span>Brunch</span><span>Cakes</span>
            </div>
        </div>
        <div class="location-sidebar">
            <p class="location-sidebar-content">"Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
</div>