<div class="location-wrapper">
    <div class="location-list-heading">
        <h1>{{title}}</h1>
        <p>Crawl through Brockley's best independent Cafes</p>
    </div>
    <div class="location-list-wrapper">
        <div class="location-list-item">
            <h3 class="location-name">{{name}}</h3>
            <p class="location-address">{{address}}</p>
            <p class="location-facilities">{{facilities}}</p>
            <p class="location-stop">Stop No.{{stop}}</p>
        </div>
        <div class="location-list-item">
            <h3 class="location-name">{{name}}</h3>
            <p class="location-address">{{address}}</p>
            <p class="location-facilities">{{facilities}}</p>
            <p class="location-stop">Stop No.{{stop}}</p>
        </div>
    </div>
    <div class="location-sidebar"></div>
</div>