<div class="location-wrapper">
    <header>
        <h1>{{title}}</h1>
        <p>{{subtitle}}</p>
    </header>

    <div class="location-list-sidebar-wrapper">
        <div class="list-wrapper">
            <div class="error">{{message}}</div>
            {{#each locations}}
                <div class="list-item">
                    <a href="/location/{{_id}}"><h3 class="name">{{title}}</h3></a>
                    <p class="address">{{address}}</p>
                    {{#each facilities}}<span>{{this}}</span>{{/each}}
                    <p class="stop">No.{{stop}}</p>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="sidebar">
        <p class="sidebar-content">{{sidebar}}</p>
    </div>
</div>