<div class="location-detail-wrapper">
    <header>
        <h1>{{title}}</h1>
        <h3>{{rating}}/5</h3>
    </header>

    <div class="container">
        <div class="wrapper">
            <div class="rating-address">
                <p>{{address}}</p>
            </div>
            <div class="opening-hours">
                <h3 class="header">Opening Hours</h3>
                <p>Mon - Fri: {{openingHours.monFri}}</p>
                <p>Sat: {{openingHours.sat}}</p>
                <p>Sun: {{openingHours.sun}}</p>
            </div>
            <div class="facilities">
                <h3 class="header">Facilities</h3>
                {{#each facilities}}<span>{{facility}}</span>{{/each}}
            </div>
            <div class="map">
                <h3 class="header">Location Map</h3>
                <iframe frameborder="0" src="https://www.google.co.uk/maps/embed/v1/place?key=AIzaSyBE9cgGx0m_7Us1rJSjyLUmzEk8TZWnKqY&q={{coords.lat}},{{coords.long}}"></iframe>
            </div>
        </div>
    </div>

    <div class="review-container">
        <h3 class="header">Customer Reviews</h3>
        <button>Add Review</button>
        {{#each reviews}}
            <div class="review">
                <div class="review-info">
                    <span>{{reviewerName}}</span> <span>{{reviewDate}}</span>
                    <span>{{rating}}/5</span>
                </div>
                <p class="comment">{{reviewText}}</p>
            </div>
        {{/each}}
    </div>

    <div class="sidebar">
        <p class="content">{{sidebar}}</p>
    </div>
</div>